.child-up{

    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-sliders{
    display: flex;
    flex-direction: column;
    width:50%;
}

.child-down{
    border-color: #ffd900c9;
    border-width: 2px;
    border-style: solid;
    width:75%;
    float: right;
    height:100%;
    justify-content: flex-start;
    
}

.Sliderbox{

    width:75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sliderbox:hover {
    background-color: #5D5D81;
}

.slider {
    width:30%;
}

.varname {
    width:50%;
}

.checkbox {
    width:10%;
}

.varvalue {
    width:10%;
    display:flex;
    justify-content: right;
}

.lowerbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}