.child-left{
    border-color: aquamarine;
    border-width: 2px;
    border-style: solid;
    width:48%;
    float:left;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.child-right{
    border-color: aquamarine;
    border-width: 2px;
    border-style: solid;
    width:48%;
    float: right;
    height:100%;
    justify-content: flex-start;
    
}

.Sliderbox{
    border-color: aquamarine;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    width:50%;
    
}

.Sliderbox:hover {
    background-color: rgb(45, 82, 119)
}