.parent{
    border-color: rgb(233, 233, 233);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    min-width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    
}

.parent:hover {
    background-color: rgb(45, 82, 119)
}

.child-info{
    border-color: rgb(255, 127, 165);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex-grow: 1;
    max-width: 45%;
}

.child-graph{
    border-color: rgb(255, 232, 127);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    width: 40%;
    height: 100%;
}

.child-icon{
    border-color: rgb(127, 255, 238);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    width:10%;
    height:50%
}


.image1 {
    position: absolute;
    top: 0;
    left: 0;

}

.image2 {
    position: absolute;
    top: 0;
    left: 0;

}

.child-name{
    font-size: 20px;
}

.child-artist{
    font-size: 16px;
}

.child-features{
    width: 7%;
    float: right;
}