.parent{
    border-color: rgb(94, 133, 179);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    min-width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    
}

.parent:hover {
    background-color: rgb(45, 82, 119)
}

.child-info{

    width: 45%;
}

.child-graph{

    width: 40%;
    height: 100%;
}

.child-icon{


    position:relative;
    width:10%;
    height:100%
}


.image1 {
    position: relative;
    width:100%;
    top:50%;
    transform: translateY(-50%);
}

.image2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

.child-name{
    font-size: 20px;
}

.child-artist{
    font-size: 16px;
}

.child-features{
    width: 7%;
    float: right;
}
.child-name{
    font-size: 25px;
}

/* Make it a marquee */
.marquee {
    margin: 0 auto;

    white-space: nowrap;
    overflow: hidden;
}

.marquee:hover span {
    display: inline-block;
    
    animation: marquee 5s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.Buttonsbox{
    display: flex;
    border-color: rgb(94, 169, 179);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

    justify-content: space-evenly;
    align-items: center;
}