.parent{
    border-color: rgb(157, 255, 127);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    min-width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.parent:hover {
    background-color: rgb(45, 82, 119)
}

.child-info{
    border-color: rgb(255, 127, 165);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex-grow: 1;
}

.child-graph{
    border-color: rgb(255, 232, 127);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex-grow: 1;
}

.child-icon{
    border-color: rgb(172, 127, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    position: relative;

    cursor: pointer;
}

.child-name{
    font-size: 20px;
}

.child-artist{
    font-size: 16px;
}

.child-features{
    float: right;
}